img{
    width: 350px;
    height: 350px;
    border-radius: 25%;
    
    
}
body{
    text-align: center;
    background-color:#09d7de ;
    
    
}
a{
    font-size: 35px;
   font-family: 'Jomhuria', cursive;
}
h1{
    font-size: 38px; 
    font-family: 'Jomhuria', cursive;
}
a:hover{
    font-size: 40px;

}

